<?xml version="1.0" encoding="utf-8"?>
<launch>
	<!-- This launch file will not do anything by default. You must specify what
       spheros you wish to connect to by navigating to the folder that holds
			 this file and typing into terminal:
			 						roslaunch connect1.launch <sphero_name>:=true
			 The port numbers are set to a default which corresponds to the ports
		   on this computer. You may want to change these args if you are on
		   another computer. Note that you can change the ports the same way
		   you selected the spheros. The ports are assigned arbitrarily to each
			 sphero. I could write another python script to handle port assignments
			 to each sphero. All I would need to do is pass the arguments as a list
			 and parse the string, but the launch file works fine anyways so I didn't
			 implement that.
  -->
	<arg name='Port0' default='00:1A:7D:DA:71:15'/>
	<arg name='Port1' default='00:1A:7D:DA:71:05'/>
	<arg name='Port2' default='00:1A:7D:DA:71:06'/>
	<arg name='Port3' default='00:1A:7D:DA:71:0B'/>
	<arg name='RPR' default='false'/>
	<arg name='GGW' default='false'/>
	<arg name='RPP' default='false'/>
  <arg name='PRR' default='false'/>
	<arg name='WPP' default='false'/>
	<arg name='WPW' default='false'/>
	<arg name='OBR' default='false'/>
	<!--FAST SPHEROS-->
	<node ns = "sphero_rpr" name="sphero_rpr" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-RPR --target_addr 68:86:E7:07:3A:E1 --bt_addr $(arg Port0) --port 1" respawn='true' output="screen" if="$(arg RPR)"/>
	<node ns = "sphero_ggw" name="sphero_ggw" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-GGW --target_addr 68:86:E7:08:95:5F --bt_addr $(arg Port1) --port 1" respawn="true" output="screen" if="$(arg GGW)"/>
	<node ns = "sphero_rpp" name="sphero_rpp" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-RPP --target_addr 68:86:E7:09:2E:FE --bt_addr $(arg Port2) --port 1" respawn='true' output="screen" if="$(arg RPP)"/>
	<node ns = "sphero_prr" name="sphero_prr" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-PRR --target_addr 68:86:E7:09:77:2C --bt_addr $(arg Port3) --port 1" respawn='true' output="screen" if="$(arg PRR)"/>
	<node ns = "sphero_wpp" name="sphero_wpp" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-WPP --target_addr 68:86:E7:08:84:9E --bt_addr $(arg Port0) --port 1" respawn='true' output="screen" if="$(arg WPP)"/>
	<node ns = "sphero_wpw" name="sphero_wpw" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-WPW --target_addr 68:86:E7:09:0A:9E --bt_addr $(arg Port1) --port 1" respawn='true' output="screen" if="$(arg WPW)"/>
	<node ns = "sphero_obr" name="sphero_obr" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-OBR --target_addr 68:86:E7:08:01:0B --bt_addr $(arg Port2) --port 1" respawn='true' output="screen" if="$(arg OBR)"/>
  <!--SLOW SPHEROS-->
	<arg name='PGG' default='false'/>
	<arg name='BOP' default='false'/>
  <arg name='WYG' default='false'/>
  <arg name='WPG' default='false'/>
  <arg name='RBR' default='false'/>
  <arg name='RYR' default='false'/>
  <arg name='ORY' default='false'/>
	<arg name='GOG' default='false'/>
	<arg name='PBP' default='false'/>
	<arg name='BPY' default='false'/>
	<node ns = "sphero_pgg" name="sphero_pgg" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-PGG --target_addr 68:86:E7:07:DE:51 --bt_addr $(arg Port3) --port 1" respawn='true' output="screen" if="$(arg PGG)"/>
	<node ns = "sphero_bop" name="sphero_bop" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-BOP --target_addr 68:86:E7:08:D8:2D --bt_addr $(arg Port0) --port 1" respawn='true' output="screen" if="$(arg BOP)"/>
	<node ns = "sphero_wyg" name="sphero_wyg" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-WYG --target_addr 68:86:E7:06:53:CC --bt_addr $(arg Port1) --port 1" respawn='true' output="screen" if="$(arg WYG)"/>
	<node ns = "sphero_wpg" name="sphero_wpg" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-WPG --target_addr 68:86:E7:08:5A:A7 --bt_addr $(arg Port2) --port 1" respawn='true' output="screen" if="$(arg WPG)"/>
	<node ns = "sphero_rbr" name="sphero_rbr" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-RBR --target_addr 68:86:E7:06:54:B6 --bt_addr $(arg Port3) --port 1" respawn='true' output="screen" if="$(arg RBR)"/>
	<node ns = "sphero_ryr" name="sphero_ryr" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-RYR --target_addr 68:86:E7:08:BD:EB --bt_addr $(arg Port0) --port 1" respawn='true' output="screen" if="$(arg RYR)"/>
	<node ns = "sphero_ory" name="sphero_ory" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-ORY --target_addr 68:86:E7:08:EB:7F --bt_addr $(arg Port1) --port 1" respawn='true' output="screen" if="$(arg ORY)"/>
	<node ns = "sphero_gog" name="sphero_gog" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-GOG --target_addr 68:86:E7:08:35:D6 --bt_addr $(arg Port2) --port 1" respawn='true' output="screen" if="$(arg GOG)"/>
	<node ns = "sphero_pbp" name="sphero_pbp" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-PBP --target_addr 68:86:E7:08:28:09 --bt_addr $(arg Port3) --port 1" respawn='true' output="screen" if="$(arg PBP)"/>
	<node ns = "sphero_bpy" name="sphero_bpy" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-BPY --target_addr 68:86:E7:07:D1:F4 --bt_addr $(arg Port0) --port 1" respawn='true' output="screen" if="$(arg BPY)"/>
	<!--FAST BUT PROBLEMATIC SPHEROS-->
	<arg name='WRB' default='false'/>
	<arg name='YOO' default='false'/>
  <arg name='RGW' default='false'/>
	<node ns = "sphero_wrb" name="sphero_wrb" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-WRB --target_addr 68:86:E7:09:22:BF --bt_addr $(arg Port1) --port 1" respawn="true" output="screen" if="$(arg WRB)"/>
	<node ns = "sphero_yoo" name="sphero_yoo" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-YOO --target_addr 68:86:E7:08:71:0B --bt_addr $(arg Port2) --port 1" respawn="true" output="screen" if="$(arg YOO)"/>
	<node ns = "sphero_rgw" name="sphero_rgw" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-RGW --target_addr 68:86:E7:09:77:D4 --bt_addr $(arg Port3) --port 1" respawn="true" output="screen" if="$(arg RGW)"/>
</launch>
