<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- spheros -->
    <node ns="sphero_rgw" name="sphero_rgw" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-RGW --target_addr 68:86:E7:09:77:D4" respawn='true' output="screen"/>
    <node ns="sphero_wrb" name="sphero_wrb" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-WRB --target_addr 68:86:E7:09:22:BF" respawn='true' output="screen"/>
    <node ns="sphero_wpp" name="sphero_wpp" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-WPP --target_addr 68:86:E7:08:84:9E" respawn='true' output="screen"/>
    <node ns="sphero_ggw" name="sphero_ggw" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-GGW --target_addr 68:86:E7:08:95:5F" respawn='true' output="screen"/>
    <node ns="sphero_yoo" name="sphero_yoo" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-YOO --target_addr 68:86:E7:08:71:0B" respawn='true' output="screen"/>

</launch>
